* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #CDCDCD;
}

a {
    text-decoration: none;
    float: right;
    color: #ccc;
}

span {
    float: right;
    margin: 6px 12px 0 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 14px;
    background-color: #E6E6FA;
    border-radius: 50%;
}

p {
    float: left;
    margin-left: 8px;
}

ol {
    list-style: none;
}

.header {
    background-color: black;
    height: 50px;
    line-height: 50px;
}

.header-wrap {
    width: 600px;
    margin: auto;
}

label {
    float: left;
    font-size: 24px;
    color: #fff;
}

input[required] {
    float: right;
    margin-top: 12px;
    padding-left: 10px;
    width: 350px;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.24), 0 1px 6px rgba(0, 0, 0, 0.45) inset;
    outline: none;
}

.container {
    width: 600px;
    margin: auto;
}


/* 正在进行部分 */

.working {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
}

#todolist li {
    background-color: #fff;
    height: 32px;
    line-height: 32px;
    margin-bottom: 12px;
    padding: 0 12px;
    border-left: 5px solid #629A9C;
}

#todolist input {
    float: left;
    margin-top: 6px;
    width: 22px;
    height: 22px;
}


/* 已经完成部分 */

#donelist li {
    background-color: #E6E6E6;
    height: 32px;
    line-height: 32px;
    margin-bottom: 12px;
    padding: 0 12px;
    color: #676767;
    border-left: 5px solid #999;
}

#donelist input {
    float: left;
    margin-top: 6px;
    width: 22px;
    height: 22px;
}

/* 正在进行部分 */

.working {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 700;
}

#todolist li {
    background-color: #fff;
    height: 32px;
    line-height: 32px;
    margin-bottom: 12px;
    padding: 0 12px;
    border-left: 5px solid #629A9C;
}

#todolist input {
    float: left;
    margin-top: 6px;
    width: 22px;
    height: 22px;
}


/* 已经完成部分 */

#donelist li {
    background-color: #E6E6E6;
    height: 32px;
    line-height: 32px;
    margin-bottom: 12px;
    padding: 0 12px;
    color: #676767;
    border-left: 5px solid #999;
}

#donelist input {
    float: left;
    margin-top: 6px;
    width: 22px;
    height: 22px;
}
